html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    min-width: 360px;
    margin: 0 auto;
    font-family: "Play", sans-serif;
    background-color: #FFC0CB;

    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}